<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="./_include/css/materialize.min.css"  media="screen,projection"/>
      <style type="text/css">
        #progress-details{
          position: absolute;
          left: 20%;
          top: 60%;
        }
        #progress-bar{
          position: absolute;
          left: 40%;
          top: 18%; 
        }
      </style>
    </head>

    <body>
    
    <div id="progress-bar" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div id="progress-details">
    <p>Please wait! Generating Files...</p>
  </div> 
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="./_include/js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="./_include/js/materialize.min.js"></script>
    </body>
  </html>